<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
  <body>
    <h1 class="title"><%= title %></h1>
    <a href="/">Go home</a>
    <form method="POST" action="/new">
      <label>
        <span>Message:</span>
        <textarea
          name="messageText"
          rows="5"
          placeholder="your message"
          required
          class="input"
        ></textarea>
      </label>
      <label>
        <span>By:</span>
        <input
          type="text"
          name="messageUser"
          placeholder="user"
          class="input inputUser"
          required
        />
      </label>
      <button class="post" type="submit" class="postMessage">
        Post message
      </button>
    </form>
  </body>
</html>
